.row
  .columns.small-2
    %ul
      %li
        = link_to 'first type', '#'
      %li
        = link_to 'second type', '#'
  .columns.small-10
    .graph-js
    .grid
      %table{width:'100%'}
        %thead
          %tr
            %th Период
            %th Визиты
            %th Просмотры
            %th Посетители
        %tbody
          %tr
            %td май
            %td 1000
            %td 2000
            %td 500
          %tr
            %td июнь
            %td 1000
            %td 2000
            %td 500
          %tr
            %td июль
            %td 1000
            %td 2000
            %td 500
          %tr
            %td август
            %td 1000
            %td 2000
            %td 500
