%section.section-main-content
  .row
    .columns.small-12
      %h1 Рекламодателям

      %p 
        На сегодняшний день тизерный формат рекламы является наиболее актуальным, эффективным и выгодным для рекламодателей.
      %p 
        Тизерная реклама - это блок, состоящий из текста и картинки, привлекающий внимание посетителя и призывающий его кликнуть и посмотреть информацию. Тизеры дают высокий цтр, по сравнению с баннерами или текстовыми блоками.
        Если у вас есть интересные офферы, предложения для посетителей, и вы хотите сохранить свое время и деньги, оплачивая только результат, то вам стоит обратиться к нам.
      %p 
        Наши специалисты настроят рекламную кампанию, которая будет приносить максимальную отдачу. Ваш продукт или услуги, будут продаваться на качественных площадках нужной тематики, приносив максимально эффективный результат.
        Благодаря тому, что наша система использует тизерный формат рекламы, вы можете заинтересовать потенциальных клиентов еще на этапе демонстрации объявления.

      %p Сотрудничая с нами вы получаете:

      %ul
        %li
          Качественные  площадки
        %li
          Привлекающий  внимание рекламный блок
        %li
          Индивидуальный  подход и помощь наших специалистов в  настройке рекламной кампании
        %li
          Оплата  только за результат
        %li
          Аналитика
        %li
          Огромный  охват аудитории
        %li
          Удобный и   простой интерфейс

      %p В нашей системе оплата осуществляется не за клики и показы, а за лиды, заказ, заявка за любое целевое действие.

      %p Оставьте заявку и менеджеры свяжутся с вами.
      %p Мы будем рады сотрудничеству!