= render '/_shared/banner'

%section
  .row
    .columns.small-4
      .panel-block
        %header
          %h2 Новости
        %ul.last-news-list
          %li
            %h4 Латвия выдаст хакера Чаловского США
            %p.small
              Денис Чаловский вместе с россиянином Никитой Кузьминым и гражданином Румынии Михаем Йонутом подозреваются в создании и распространении вируса Gozi, который поразил более миллиона компьютеров по всему миру.
            %p.small.text-right
              16.21.2014
          %li
            %h4 "Белгородский стрелок" назвал иск "нереальным"
            %p.small
              Потерпевшая, вдова убитого Игоря Малыхина, просит взыскать 50 миллионов рублей в счет причинения морального вреда в пользу несовершеннолетних детей. На вопрос судьи, какую сумму он готов возместить, Помазун ответить не смог.
            %p.small.text-right
              19.26.2014
          %li
            %h4 Арест подсудимых продлен еще на 3 месяца
            %p.small
              Московский районный суд Казани удовлетворил ходатайство гособвинения и продлил срок содержания под стражей Инякиной, Ивашова, Тимергазеева и Семенова до 10 ноября, сообщил РИА Новости представитель суда.
            %p.small.text-right
              12.15.2013
          %li
            %h4 Перспективный авиакомплекс будет дозвуковым
            %p.small
              Предполагается, что новый бомбардировщик будет обладать высокой боевой мощью и будет способен преодолевать современную противовоздушную оборону.
            %p.small.text-right
              16.02.2013

    .columns.small-8
      .row
        .columns.small-6
          .panel-block.blue
            %header
              %h2 Вебмастерам
            %ul.no-bullet
              %li
                \- самый высокий  доход от тизеров
              %li
                \- выплаты без  холда
              %li
                \- высокие  ставки за лид
              %li
                \- оплата за лид
              %li
                \- дружелюбный  саппорт
              %li
                \- много офферов
              %li
                \- реферальная  система под 5%
              %li
                \- выплаты  поступают на WebMoney
            .text-right
              %a.button-arr
                Регистрация

        .columns.small-6
          .panel-block.green
            %header
              %h2 Рекламодателям
            %ul.no-bullet
              %li
                \- Качественные  площадки
              %li
                \- Привлекающий  внимание рекламный блок
              %li
                \- Индивидуальный  подход и помощь наших   специалистов в  настройке рекламной кампании
              %li
                \- Оплата  только за результат
              %li
                \- Аналитика
              %li
                \- Огромный  охват аудитории
              %li
                \- Удобный и  простой интерфейс
            .text-right
              %a.button-arr.green
                Регистрация
      .row
        .columns.small-12
          .panel-block
            %header
              %h2 Топ

            %table{style: "width: 100%"}
              %tbody 
                %tr 
                  %td 1
                  %td WEBMASTER 1
                  %td EPC 1мес
                %tr 
                  %td 2
                  %td WEBMASTER 2
                  %td EPC 1мес
                %tr 
                  %td 3
                  %td WEBMASTER 3
                  %td EPC 1мес

.row
  .columns.small-12

.row
  .columns.small-12
    %p Добро пожаловать на Teaserlead!
    = link_to "Зарегистироваться как вебмастер", new_webmaster_user_path, class: "button radius"
    = link_to "Зарегистироваться как рекламодатель", new_advertisor_user_path, class: "button radius"