%section.section-main-banner
  %ul.main-page-slider{data: {orbit: "", options: "animation: fade; navigation_arrows: false; slide_number: false; timer_speed: 6000; resume_on_mouseout: false;"}}
    %li.slide-1
      .row
        .columns.small-6
          %h1 Рекламодателям
          %p
            У Вас есть интересные офферы? Вы хотите платить только за качественный  результат? Вы стремитесь к «прозрачности» приходящего трафика? Вам интересен таргетинг?
            %br
            Мы хотим Вам помочь! Наши специалисты настроят рекламную кампанию на максимальную отдачу. Рассчитают наиболее выгодный для Вас вариант. Обеспечат размещение Вашего продукта на качественных площадках нужной тематики. Предоставят детальную статистику с учетом таргетинга!
            Все что нужно сделать - это оставить заявку, остальное предоставьте нам!
          .text-right
            %a.button-arr.white
              Регистрация
        .columns.small-6.image-block
          = image_tag "banner-img-1.png"
    %li.slide-2
      .row
        .columns.small-6
          %h1 Вебмастерам
          %p
            В интернете существует множество тизерных сетей. Они платят за клики, перепродают этот трафик адвертам - партнерами CPA сетей. Адвертам платят CPA сети с которыми работают рекламодатели. Получается круговорот из посредников.
            %br
            В нашей системе Вы работаете напрямую с рекламодателем! А значит Вы получаете  максимальный профит с размещения тизерного блока, за счет  продаж продуктов или услуг, минуя посреднtиков. Наши опытные специалисты делают (только) качественные лендиги и тизеры с высоким CTR. С нами Вы увеличите доходы с тизеров до 3 раз.
            %br
            Что для этого нужно? Разместить рекламный блок и получать деньги. Регистрируйтесь! 
            %br
            Присоединяйтесь к команде лучших!
          .text-right
            %a.button-arr.white
              Регистрация
        .columns.small-6.image-block
          = image_tag "banner-img-2.png"
    %li.slide-3
      .row
        .columns.small-6
          %p
            %strong TEASERLEAD
            \- это рекламная сеть CPA (cost per action). Здесь Вы получаете возможность зарабатывать оплачивая не клики, не показы, а лиды.
            Заказ, заявка, любое целевое действие.
            Актуально!
            %br
            Наша система использует тизерный формат рекламы - наиболее эффективный и  актуальный рекламный инструмент. Тизер - это идеальное сочетание рекламного  изображения и текста, способное привлечь аудиторию и показать высокий результат продаж.
            %br
            Выгодно!
            %br
            Вебмастера работают напрямую с рекламодателями и получают оплату за лид.
            Рекламодатели платят за целевое действие, то есть только за качественный результат.
            Эффективно!
            %br
            Тизеры дают высокий CTR, по сравнению с баннерами или текстовыми блоками. 
            Лендинги, куда ссылаются пользователи, дают высокую конверсию. В итоге мы получаем CTR блоков и высокий конверт.
            %br
            Удобно!
            %br
            В нашей системе много офферов, благодаря чему можно монетизировать любой трафик  различной тематики. Вебмастерам простая настройка и изменение тизерных блоков.

        .columns.small-6.image-block
          = image_tag "banner-img-3.png"
