%footer.main-footer
  .sub-line
  .row
    .columns.small-3
      %h2 Вебмастерам
      %ul.no-bullet
        %li
          %a{href: "#"}
            Вебмастерам
        %li
          %a{href: "#"}
            Энциклопедия
        %li
          %a{href: "#"}
            Форум
        %li
          %a{href: "#"}
            Топ офферов
        %li
          %a{href: "#"}
            Топ вебмастеров
        %li
          %a{href: "#"}
            Принцип работы
        %li
          %a{href: "#"}
            Пользовательское соглашение
        %li
          %a{href: "#"}
            Конфиденциальность
        %li
          %a{href: "#"}
            F.A.Q.
        %li
          %a{href: "#"}
            Регистрация

    .columns.small-3
      %h2 Рекламодателям
      %ul.no-bullet
        %li
          %a{href: "#"}
            Топ офферов
        %li
          %a{href: "#"}    
            Принцип работы
        %li
          %a{href: "#"}    
            F.A.Q.
        %li
          %a{href: "#"}   
            Подключиться сейчас

    .columns.small-3
      %h2 Регистрация
      %ul.no-bullet
        %li
          %a{href: "#"}
            Регистрация вебмастера
        %li
          %a{href: "#"}
            Регистрация рекламодателя

    .columns.small-3
      %h2 Поделиться
      
